<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <style>
        html{height:100%}

        body{height:100%;margin:0px;padding:0px}

        #container{height:50%}

        h2, h3 {
            text-align: center;
        }

        th, td {
            text-align: center;
        }
    </style>
    <!-- <script type="text/javascript" src="https://api.map.baidu.com/api?type=webgl&v=1.0&ak=urmCFfLQ89nSev9oBTgHz47Hyha8xZhw"></script> -->
</head>
<body>
    <h2>员工家庭信息</h2>
    <h3><a th:href="@{/API/work1/Manage}" class="backA">
        <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 96 960 960" width="30"><path fill="#9b4dca" d="M780 856V682q0-54-38-92t-92-38H234l154 154-42 42-226-226 226-226 42 42-154 154h416q78 0 134 55.5T840 682v174h-60Z"/></svg>
        回到员工管理
    </a></h3>
    <table>
        <thead>
            <th>姓名</th>
            <th>性别</th>
            <th>基础工资</th>
            <th>地点名称</th>
            <th>差旅补助</th>
            <th>总工资</th>
        </thead>
        <th:block th:each="employees:${EandL}">
        <tr>
            <td><p>[[${employees.employeeName}]]</p></td><br>
            <td><p>[[${employees.gender}]]</p></td>
            <td><p id="baseSalary1">[[${employees.baseSalary}]]</p></td>
            <td><p>[[${employees.locationName}]]</p></td>
            <td><p id="buzhu"></p></td>
            <td><p id="money"></p></td>
           <div style="display: none;"><p id="lat">[[${employees.latitude}]]</p><p id="lng">[[${employees.longitude}]]</p></div>
        </tr>
    </th:block>
    </table>
    <div id="container"></div>
    <script>
        window.onload = function(){
            var c_lat = 29.56574;
            var c_lng = 103.738152;

            var lat = document.getElementById("lat").innerHTML;
            var lng = document.getElementById("lng").innerHTML;
            lat = Number(lat);
            lng = Number(lng);

            var map = new BMapGL.Map("container");
            var money;
            map.centerAndZoom(new BMapGL.Point(c_lng, c_lat), 15);
            var searchComplete = function (results){
                if (transit.getStatus() != BMAP_STATUS_SUCCESS){
                    return ;
                }
                var plan = results.getPlan(0);
                money = plan.getDistance(true).toString();
            }
            var transit = new BMapGL.DrivingRoute(map, {renderOptions: {map: map},
                onSearchComplete: searchComplete,
                onPolylinesSet: function(){
                    setTimeout(function(){
                    if(money >= "20km") {
                        document.getElementById("buzhu").innerHTML = "有";
                        var base = document.getElementById("baseSalary1").innerHTML;
                        base = Number(base);
                        document.getElementById("money").innerHTML = (500 + base).toString();
                    }
                    else {
                            document.getElementById("buzhu").innerHTML = "无";
                            var base = document.getElementById("baseSalary1").innerHTML;
                            document.getElementById("money").innerHTML = base;
                    }
                    },"1000");
            }});
            var start=new BMapGL.Point(c_lng,c_lat);
            var end=new BMapGL.Point(lng,lat);
            transit.search(start, end);
        }
    </script>
</body>
</html>