<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        html{height:100%}
        body{height:100%;margin:0px;padding:0px}
        #container{height:50%}
  </style>
    <script type="text/javascript" src="https://api.map.baidu.com/api?type=webgl&v=1.0&ak=urmCFfLQ89nSev9oBTgHz47Hyha8xZhw"></script>
</head>
<body>
    百度地图 <a th:href="@{/API/work1/Manage}">回到员工管理界面</a>
    <th:block th:each="employees:${EandL}">
        <tr>
            姓名<td>[[${employees.employeeName}]]</td>
            性别<td>[[${employees.gender}]]</td>
            基础工资<td><p id="baseSalary1">[[${employees.baseSalary}]]</p></td>
            地点名称<td>[[${employees.locationName}]]</td>
            差旅补助<td><p id="buzhu"></p></td>
            总工资<td><p id="money"></p></td>
            <td><p id="lat">[[${employees.latitude}]]</p></td> <td><p id="lng">[[${employees.longitude}]]</p></td>
        </tr>
    </th:block>
    地图
    <div id="container"></div>
    <script>
        window.onload = function(){
            var c_lat = 29.56574;
            var c_lng = 103.738152;

            var lat = document.getElementById("lat").innerHTML;
            var lng = document.getElementById("lng").innerHTML;
            lat = Number(lat);
            lng = Number(lng);

            var map = new BMapGL.Map("container");
            var money;
            map.centerAndZoom(new BMapGL.Point(c_lng, c_lat), 15);
            var searchComplete = function (results){
                console.log(results);
                console.log(lat + " " + lng);
                if (transit.getStatus() != BMAP_STATUS_SUCCESS){
                    console.log(lat + " " + lng);
                    console.log("到底是为什么");
                    return ;
                }
                var plan = results.getPlan(0);
                console.log("?");
                money = plan.getDistance(true).toString();
            }
            var transit = new BMapGL.DrivingRoute(map, {renderOptions: {map: map},
                onSearchComplete: searchComplete,
                onPolylinesSet: function(){
                    setTimeout(function(){
                    alert(money)
                    if(money >= "20km") {
                        document.getElementById("buzhu").innerHTML = "有";
                        var base = document.getElementById("baseSalary1").innerHTML;
                        base = Number(base);
                        document.getElementById("money").innerHTML = (500 + base).toString();
                    }
                    else {
                            document.getElementById("buzhu").innerHTML = "无";
                            var base = document.getElementById("baseSalary1").innerHTML;
                            document.getElementById("money").innerHTML = base;
                    }
                    },"1000");
            }});
            var start=new BMapGL.Point(c_lng,c_lat);
            var end=new BMapGL.Point(lng,lat);
            transit.search(start, end);
        }
    </script>
</body>
</html>