<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <style>
        h2 {
            text-align: center;
        }
        div {
            text-align: center;
            font-size: 80px;
        }
        a {
            text-decoration:none;
        }
    </style>
</head>
<body>
<h2>员工编辑页面</h2>
    <form th:each="employees:${Employee}" id="edit1" >
        <label id="employeeId11">工号</label><p id="employeeId1">[[${employees.employeeId}]]</p>
    </form>

    <form id="edit2">
        <label id="employeeId22" style="display:none">工号</label><input type="text"  id="employeeId2" style="display:none">
        <label>姓名</label><input type="text"  id="employeeName2">
        <label>性别</label><input id="man" type="radio" checked="checked" name="sex" value="man"/>男 <input type="radio" id="woman" name="sex" value="women">女<br>
        <label>年龄</label><input type="text"  id="age2">
        <label>基础工资</label><input type="text" id="baseSalary2">
        <label>地点号</label><input type="text"  id="locationId2">（目前仅支持001-004）
        <div><button type="button" onclick="add()">Save</button></div>
    </form>

    <div><button type="button" id="showLocation">显示所有地点</button></div>
    <table>
        <th>
            <tr>
                <th>地点号</th>
                <th>地点名称</th>
            </tr>
        </th>
        <tbody>
            <th:block th:each="location:${locations}">
                <tr>
                    <td>[[${location.locationId}]]</td>
                    <td>[[${location.locationName}]]</td>
                </tr>
            </th:block>
        </tbody>
    </table>
    <button type="button" id="moreLocation">想要选取更多地点</button>
<script>
    window.onload = function(){
        if(!document.getElementById("edit1")) {
             document.getElementById("employeeId22").style.display = "block";
             document.getElementById("employeeId2").style.display = "block";
             document.getElementById("employeeId11").style.display = "none";
        }
        else {
            document.getElementById("employeeId22").style.display = "none";
        }
    }
    async function add(){
        var employeeId2;

        if(!document.getElementById("edit1"))
            employeeId2 = document.getElementById("employeeId2").value;
        else employeeId2 = document.getElementById("employeeId1").innerHTML;

        var employeeName2 = document.getElementById("employeeName2").value;

        var gender2;
        const form = document.getElementById("edit2");
        const gender = form.elements["sex"].value;
        if(gender === "man") {
            gender2 = "男";
        }
        else gender2 = "女";

        var age2 = document.getElementById("age2").value;
        var baseSalary2 = document.getElementById("baseSalary2").value;
        var locationId2 = document.getElementById("locationId2").value;

        var locat = Number(locationId2);
        if(locat >= 1 && locat <= 4) {
            if(employeeId2 != "" && employeeName2 != "") {
                url = "http://localhost:8080/API/work1/edit/addEmployee" + "/" + employeeId2 + "/" + employeeName2 + "/" + gender2 + "/" + age2 + "/" + baseSalary2 + "/" + locationId2;
                await fetch(url);
                window.location="[[@{/API/work1/Manage}]]";
            }
            else {
                alert("不能为空！");
            }
        }
        else {
            alert("非法位置，请重新输入！");
        }
    }
     document.getElementById("moreLocation").onclick = function (){
        //console.log(
        //    "先再往dom里添个地图然后连数据库取增加地点，自动地点加一" +
        //    ”或者直接把数据库里面的显示处理，说请联系管理员“ +
        //    ”看情况吧，来不及就算了“
        //)
        alert("您没有此权限！请联系管理员对数据库进行操作");
    }
    document.getElementById("showLocation").onclick = function (){
        window.location="[[@{/API/work1/edit/location}]]";
    }
</script>
</body>
</html>