<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <h1>登录界面</h1>
    <form id="login-box">
        姓名&nbsp;&nbsp;&nbsp;<input type="text" id="UserName1"><br>
        密码&nbsp;&nbsp;&nbsp;<input type="password" id="Password1">
        <div class="button-two">
            <button type="submit" onclick="loginForm()">登录</button> 
            &nbsp;&nbsp;&nbsp;
            <button type="button" onclick="registerForm()">注册</button>
        </div>
    </form>

    <div id="temp"></div>
    <script type="text/javascript">
        async function loginForm(){
            var UserName1 = document.getElementById("UserName1").value;
            var Password1 = document.getElementById("Password1").value;
            //console.log(UserName1 + " " + Password1);
            url = "http://localhost:8080/API/work1/loginCheck" + "/" + UserName1 + "/" + Password1;
            const response = await fetch(url);
            const data = await response.json();
            data.toString();
            if(data != null && data.userName === UserName1){
               window.location="[[@{/API/work1/index}]]";
             }
            else{
                alert("用户不存在或密码错误");
            }
        }
        function registerForm(){
            window.location="[[@{/API/work1/register}]]";
        }
    </script>
</body>
</html>