body {
    background-color: rgba(214, 169, 231, 0.789);
}
.container {
    position: fixed;
    top:8%;
    left: 33%;
}
p {
    text-align: center;
    font-size: 100px;
    color:#9b4dca;
}
.linka {
    text-align: center;
    font-size: 80px;
}
